<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2: Sidebar</title>
    <link rel="stylesheet" href="../styles/layout2styles.css">
</head>
<body>
    <nav>
        <h2>Título de página</h2>
        <div class="nav-links">
            <a href="">Link 1</a>
            <a href="">Link 2</a>
        </div>
    </nav>
    <div class="contenedor">
        <div class="sidebar">
            <ul>
                <li><a href="">Elemento 1</a></li>
                <li><a href="">Elemento 2</a></li>
                <li><a href="">Elemento 3</a></li>
                <li><a href="">Elemento 4</a></li>
                <li><a href="">Elemento 5</a></li>
            </ul>
        </div>
        <div class="contenido-textual">
            <h1>Encabezado</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis fuga veritatis vel hic! Ipsa voluptatum quam dignissimos blanditiis mollitia debitis facere placeat quos excepturi rerum enim modi, eligendi quia.</p>
        </div>
    </div>
</body>
</html>