<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1: Layout de 2 columnas</title>
    <link rel="stylesheet" href="../styles/layout1styles.css">
</head>
<body>
    <nav>
        <h2 class="nav-titulo">Titulo de página</h2>
    </nav>
    <h1>
        Encabezado
    </h1>
    <div class="doble-columna">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis similique provident odio obcaecati nesciunt iste voluptatum, commodi modi, expedita quidem quis quas? Distinctio recusandae ab vitae? Temporibus placeat explicabo dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dicta ut deleniti cupiditate nemo tenetur veritatis consequuntur maiores, quas in maxime fugiat ad deserunt voluptates nesciunt delectus. Eligendi, accusantium vitae.</p>
    </div>
</body>
</html>