body{
    margin: 0 ;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-formulario{
    width: 50%;
}
.contenedor-formulario h1{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;

}
.formulario label{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.formulario input[type="submit"]{
    margin-top: 20px;
    border: none;
    padding: 12px;
    background-color: #777;
    color: white;
}